.about h1{
    font-size: 6rem;
    padding-top: 2rem;
    text-align: center;
}
.info {
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
}
.img {
    padding-top: 4rem;
    flex: 1;
}
.imag{
    margin-left: 12rem;
    border: 2px solid black;
    border-radius: 50px;
    transition: transform 0.2s ease-in;
}
.img:hover {
    transform: scale(0.9);
}
.contents {
    padding-right: 4rem;
    flex: 2;
}
.content {
    padding-left: 5rem;
    display: flex;
    gap: 30px;
    text-align: center;
    padding-top: 6rem;
    flex-wrap: wrap;
}
.content1 {
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 8px;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    border: 3px solid gray;
}
.content2 {
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 8px;
    padding-top: 1rem;
    border: 3px solid gray;
}
.content3{
    padding-top: 1.6rem;
    font-size: 2rem;
}
@media (max-width: 768px) {
.about h1 {
    font-size: 4rem;
    padding-top: 1rem;
}
.info {
    gap: 20px;
    flex-direction: column;
}
.img {
    padding-top: 2rem;
    text-align: center;
}
.imag {
    margin-left: 0;
    width: 80%;
    height: auto;
}
.contents {
    padding-left: 8rem;
   padding-right: 2rem;
}
.content {
   padding-left: 2rem;
   padding-top: 3rem;
}
.content1, .content2 {
    font-size: 1.2rem;
}
.content3 {
    font-size: 1.5rem;
}
}
@media (max-width: 480px) {
.about {
    padding-left: 2rem;
}
.about h1 {
    font-size: 2.5rem;
    padding-top: 1rem;
    padding-left: 2.5rem;
    padding-right: 2rem;
}
.info {
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 10px;
    flex-direction: column;
}
.img {
    padding-left: 2rem;
    padding-right: 3rem;
    padding-top: 1rem;
}
.imag {
    margin-left: 0;
    width: 100%;
    height: auto;
}
.contents {
    padding-right: 4rem;
    padding-left: 1rem;
}
.content {
    padding-left: 2.5rem;
    padding-top: 2rem;
    flex-direction: column;
    text-align: center;
}
.content1, .content2 {
    font-size: 0.8rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
}
.content3 {
    text-align: center;
    padding-left: 1.5rem;
    font-size: 1.1rem;
}
}
  
